In [25]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv('../data/usa_2010_population_by_zip_tmp.csv.gz', compression='gzip', header=0, sep=',', quotechar='"', error_bad_lines=False)
df

       population  zipcode
0           27669    91324
1            4449    72632
2             473    72739
3            1685    27305
4           24425     1843
...           ...      ...
33114       12588    59937
33115        9778    75645
33116        1117    63855
33117        2256    39664
33118        5062    75709

[33119 rows x 2 columns]

In [78]:
a = df.sort_values(by='population', ascending=False)['zipcode'].to_numpy()
a = a[0:1000]
chicago_zip_codes = ['60601', '60602', '60603', '60604', '60605', '60606', '60607', '60608', '60609', '60610', '60611', '60612', '60613', '60614', '60615', '60616', '60617', '60618', '60619', '60620', '60621', '60622', '60623', '60624', '60625', '60626', '60628', '60629', '60630', '60631', '60632', '60633', '60634', '60636', '60637', '60638', '60639', '60640', '60641', '60643', '60644', '60645', '60646', '60647', '60649', '60651', '60652', '60653', '60654', '60655', '60656', '60657', '60659', '60660', '60661', '60663', '60664', '60666', '60668', '60669', '60670', '60673', '60674', '60675', '60677', '60678', '60679', '60680', '60681', '60682', '60684', '60685', '60686', '60687', '60688', '60689', '60690', '60691', '60693', '60694', '60695', '60696', '60697', '60699', '60701']
# #np.intersect1d(chicago_zip_codes,zipcodes)

# #np.where(zipcodes==chicago_zip_codes)

print(len(zipcodes))

1027

In [81]:
b = np.array(chicago_zip_codes)
zipcodes = np.setdiff1d(np.union1d(a, b), np.intersect1d(a, b))
for i,zipcode in enumerate(zipcodes):
    print(i,str(zipcode).zfill(5))

0 10002
1 10003
2 10009
3 10011
4 10016
5 10023
6 10024
7 10025
8 10027
9 10029
10 10031
11 10032
12 10033
13 10128
14 10306
15 10312
16 10314
17 10451
18 10452
19 10453
20 10456
21 10457
22 10458
23 10459
24 10460
25 10461
26 10462
27 10463
28 10466
29 10467
30 10468
31 10469
32 10472
33 10473
34 10701
35 10940
36 10950
37 10977
38 11201
39 11203
40 11204
41 11206
42 11207
43 11208
44 11209
45 11210
46 11211
47 11212
48 11213
49 11214
50 11215
51 11216
52 11218
53 11219
54 11220
55 11221
56 11223
57 11224
58 11225
59 11226
60 11229
61 11230
62 11233
63 11234
64 11235
65 11236
66 11237
67 11238
68 11354
69 11355
70 11368
71 11372
72 11373
73 11375
74 11377
75 11385
76 11419
77 11432
78 11434
79 11435
80 11550
81 11590
82 11691
83 11706
84 11717
85 11746
86 11757
87 11758
88 01201
89 12180
90 12550
91 14094
92 14221
93 14580
94 14850
95 15301
96 15601
97 17331
98 17601
99 17602
100 17603
101 18102
102 01841
103 01844
104 19020
105 19067
106 19104
107 19111
108 19120
109 19124
110 19134
111 19140
112 19143
113 19145
114 19148
115 19149
116 19320
117 19335
118 19380
119 19382
120 19446
121 19464
122 01960
123 19702
124 19711
125 19720
126 20002
127 20009
128 20011
129 20019
130 20020
131 20147
132 20171
133 20176
134 20744
135 20850
136 20854
137 20874
138 20878
139 20902
140 20904
141 20906
142 21061
143 21117
144 21122
145 21206
146 21207
147 21215
148 21218
149 21222
150 21224
151 21228
152 21234
153 02124
154 02148
155 02151
156 02155
157 02169
158 21740
159 22003
160 22030
161 22191
162 22192
163 22193
164 22204
165 22407
166 22554
167 02301
168 23112
169 23185
170 23223
171 23320
172 23322
173 23434
174 23452
175 23454
176 23455
177 23456
178 23462
179 23464
180 02360
181 23666
182 24060
183 27107
184 27265
185 27284
186 27360
187 27406
188 27407
189 27410
190 27587
191 27603
192 27610
193 27705
194 27713
195 02780
196 27834
197 27858
198 28025
199 28027
200 28078
201 28110
202 28215
203 28216
204 28227
205 28269
206 28277
207 28314
208 28540
209 28601
210 28645
211 28655
212 29072
213 29223
214 29445
215 29483
216 29681
217 29720
218 29730
219 29732
220 30004
221 30016
222 30022
223 30024
224 30032
225 30040
226 30041
227 30043
228 30044
229 30047
230 30052
231 30058
232 30062
233 30064
234 30066
235 30075
236 30080
237 30083
238 30093
239 30096
240 30101
241 30114
242 30127
243 30135
244 30144
245 30188
246 30236
247 30253
248 30263
249 30281
250 30318
251 30331
252 30349
253 30721
254 30906
255 30907
256 31088
257 31419
258 31907
259 32068
260 32174
261 32210
262 32218
263 32225
264 32244
265 32246
266 32303
267 32304
268 32608
269 32703
270 32765
271 32771
272 32792
273 32808
274 32822
275 32825
276 32828
277 32837
278 32839
279 33010
280 33012
281 33015
282 33018
283 33021
284 33023
285 33024
286 33025
287 33027
288 33033
289 33063
290 33064
291 33065
292 33068
293 33125
294 33126
295 33142
296 33147
297 33157
298 33161
299 33165
300 33175
301 33176
302 33177
303 33186
304 33193
305 33311
306 33312
307 33313
308 33411
309 33414
310 33458
311 33463
312 33467
313 33511
314 33614
315 33647
316 34711
317 34787
318 34953
319 35215
320 35242
321 36117
322 37013
323 37027
324 37042
325 37064
326 37075
327 37122
328 37129
329 37130
330 37167
331 37211
332 37421
333 38017
334 38109
335 38305
336 38401
337 38654
338 40475
339 40601
340 41042
341 42101
342 42701
343 43015
344 43026
345 43055
346 43068
347 43081
348 43123
349 43130
350 43228
351 43229
352 43230
353 43302
354 43701
355 44035
356 44060
357 44077
358 44107
359 44130
360 44256
361 44646
362 45011
363 45013
364 45040
365 45044
366 45069
367 45140
368 45238
369 45424
370 45601
371 45840
372 46143
373 46227
374 46307
375 47150
376 47374
377 47906
378 48044
379 48066
380 48103
381 48126
382 48180
383 48185
384 48187
385 48197
386 48219
387 48228
388 48439
389 48823
390 48858
391 53209
392 53215
393 53511
394 53711
395 54601
396 55044
397 55106
398 55124
399 55303
400 55304
401 55901
402 56001
403 58103
404 59102
405 59901
406 60004
407 60014
408 60016
409 60056
410 60073
411 60085
412 06010
413 60115
414 60120
415 60123
416 60126
417 60148
418 00603
419 60402
420 60411
421 60435
422 60440
423 60453
424 60505
425 60506
426 60586
427 60601
428 60602
429 60603
430 60604
431 60605
432 60606
433 60607
434 60610
435 60611
436 60612
437 60615
438 60621
439 60624
440 60631
441 60633
442 60636
443 60645
444 60646
445 60652
446 60653
447 60654
448 60655
449 60656
450 60659
451 60660
452 60661
453 60663
454 60664
455 60666
456 60668
457 60669
458 60670
459 60673
460 60674
461 60675
462 60677
463 60678
464 60679
465 60680
466 60681
467 60682
468 60684
469 60685
470 60686
471 60687
472 60688
473 60689
474 60690
475 60691
476 60693
477 60694
478 60695
479 60696
480 60697
481 60699
482 60701
483 60804
484 00612
485 61761
486 63021
487 63031
488 63123
489 63129
490 63136
491 63301
492 63303
493 63366
494 63376
495 06457
496 06511
497 06516
498 65202
499 65203
500 65807
501 06606
502 66061
503 66062
504 67401
505 00680
506 06810
507 06902
508 00693
509 07002
510 07003
511 70065
512 70072
513 07030
514 07047
515 07052
516 07055
517 70726
518 07083
519 07087
520 07093
521 07104
522 07105
523 07111
524 72401
525 00725
526 00727
527 72764
528 00729
529 07305
530 07306
531 73099
532 73160
533 73505
534 00736
535 74012
536 00745
537 07470
538 75002
539 75006
540 75007
541 75025
542 75034
543 75035
544 75040
545 75043
546 75052
547 75056
548 75060
549 75061
550 75067
551 75070
552 75093
553 75098
554 75115
555 75149
556 75150
557 75211
558 75216
559 75217
560 75227
561 75228
562 75243
563 75287
564 76010
565 76028
566 76051
567 76063
568 76116
569 76133
570 76137
571 76179
572 76244
573 77015
574 77036
575 77064
576 77070
577 77072
578 77077
579 77081
580 77082
581 77083
582 77084
583 77088
584 77089
585 77093
586 77095
587 77099
588 07728
589 77346
590 77373
591 77379
592 77429
593 77433
594 77449
595 77450
596 77459
597 77479
598 77494
599 77498
600 77511
601 77521
602 77546
603 77573
604 77584
605 77840
606 77845
607 78045
608 78046
609 78130
610 78207
611 78223
612 78227
613 78228
614 78240
615 78245
616 78247
617 78249
618 78250
619 78251
620 78501
621 78504
622 78520
623 78521
624 78542
625 78550
626 78572
627 78574
628 78577
629 78586
630 78596
631 78613
632 78660
633 78664
634 78666
635 78681
636 78745
637 78753
638 78840
639 78852
640 00791
641 00795
642 79907
643 79912
644 79924
645 79928
646 79936
647 79938
648 80011
649 80012
650 80013
651 80015
652 80020
653 80134
654 80219
655 80229
656 80504
657 80525
658 80631
659 80634
660 08081
661 08302
662 83301
663 83646
664 83686
665 83709
666 84015
667 84043
668 84095
669 84118
670 84119
671 84120
672 84404
673 84604
674 85008
675 85009
676 85022
677 85032
678 85033
679 85035
680 85041
681 85122
682 85142
683 85201
684 85204
685 85225
686 85234
687 85254
688 08527
689 85281
690 85282
691 85301
692 85308
693 85326
694 85345
695 85364
696 85365
697 85374
698 08540
699 85705
700 85706
701 85710
702 85713
703 08701
704 87105
705 87111
706 87114
707 87120
708 87121
709 87124
710 87401
711 87507
712 08753
713 08816
714 08831
715 08854
716 08861
717 08873
718 08901
719 89030
720 89031
721 89052
722 89074
723 89101
724 89103
725 89108
726 89110
727 89115
728 89117
729 89119
730 89121
731 89122
732 89123
733 89129
734 89147
735 90001
736 90002
737 90003
738 90004
739 90006
740 90011
741 90016
742 90018
743 90019
744 90022
745 90023
746 90024
747 90026
748 90032
749 90033
750 90034
751 90037
752 90042
753 90044
754 90046
755 90047
756 90063
757 90066
758 90201
759 90220
760 90221
761 90247
762 90250
763 90255
764 90262
765 90280
766 90630
767 90631
768 90638
769 90640
770 90650
771 90660
772 90703
773 90706
774 90723
775 90731
776 90744
777 90745
778 90805
779 90813
780 91304
781 91331
782 91335
783 91342
784 91343
785 91344
786 91352
787 91402
788 91405
789 91406
790 91605
791 91702
792 91706
793 91709
794 91710
795 91730
796 91732
797 91744
798 91745
799 91761
800 91762
801 91764
802 91765
803 91766
804 91767
805 91770
806 91786
807 91801
808 91910
809 91911
810 91950
811 91977
812 92020
813 92021
814 92024
815 92025
816 92026
817 92027
818 92028
819 92037
820 92056
821 92057
822 92064
823 92069
824 92071
825 92084
826 92105
827 92109
828 92113
829 92114
830 92115
831 92117
832 92126
833 92128
834 92129
835 92130
836 92154
837 92201
838 92234
839 92243
840 92324
841 92335
842 92336
843 92345
844 92346
845 92376
846 92392
847 92399
848 00924
849 92404
850 92407
851 92410
852 92503
853 92504
854 92505
855 92507
856 92509
857 92530
858 92553
859 92557
860 92562
861 92563
862 92570
863 92571
864 92592
865 00926
866 92626
867 92627
868 92630
869 92646
870 92647
871 92656
872 92677
873 92683
874 92691
875 92692
876 92701
877 92703
878 92704
879 92707
880 92708
881 92780
882 92801
883 92804
884 92805
885 92833
886 92840
887 92870
888 92879
889 92880
890 92882
891 92886
892 93003
893 93030
894 93033
895 93063
896 93065
897 93117
898 93215
899 93230
900 93257
901 93274
902 93277
903 93291
904 93304
905 93306
906 93307
907 93308
908 93309
909 93312
910 93436
911 93458
912 93535
913 93536
914 93550
915 93551
916 93611
917 93638
918 93702
919 93722
920 93727
921 93905
922 93906
923 94014
924 94015
925 94080
926 94086
927 94087
928 94109
929 94110
930 94112
931 94122
932 94501
933 94509
934 94513
935 94533
936 94536
937 94538
938 94539
939 94541
940 94544
941 94550
942 94553
943 94558
944 94565
945 94568
946 94587
947 94591
948 94601
949 94806
950 00949
951 95014
952 95020
953 95023
954 95035
955 95037
956 95051
957 95060
958 95076
959 95111
960 95112
961 95116
962 95122
963 95123
964 95124
965 95125
966 95127
967 95206
968 95207
969 95240
970 00953
971 95350
972 95351
973 95355
974 95376
975 00956
976 95608
977 95616
978 95624
979 95630
980 95648
981 95670
982 95687
983 00957
984 95747
985 95758
986 95823
987 95828
988 00959
989 96706
990 96720
991 96734
992 96744
993 96789
994 96792
995 96797
996 96816
997 96817
998 96818
999 96819
1000 97006
1001 97007
1002 97045
1003 97124
1004 97206
1005 97223
1006 97229
1007 97301
1008 97402
1009 00976
1010 97701
1011 98012
1012 98023
1013 98052
1014 98103
1015 98115
1016 98208
1017 98225
1018 98270
1019 98632
1020 98682
1021 00987
1022 98902
1023 99208
1024 99301
1025 99336
1026 99654

In [51]:
zipcodes = df.sort_values(by='population', ascending=False)['zipcode'].to_numpy()

In [56]:
zipcodes

array([60629, 79936, 11368, ..., 80453, 84334, 21705])

In [58]:
df.sort_values(by='population', ascending=False)
df.columns

Index(['population', 'minimum_age', 'maximum_age', 'gender', 'zipcode',
       'geo_id'],
      dtype='object')

In [59]:
df

         population  minimum_age  maximum_age  gender  zipcode          geo_id
0                50         30.0         34.0  female    61747  8600000US61747
1                 5         85.0          NaN    male    64120  8600000US64120
2              1389         30.0         34.0    male    95117  8600000US95117
3               231         60.0         61.0  female    74074  8600000US74074
4                56          0.0          4.0  female    58042  8600000US58042
...             ...          ...          ...     ...      ...             ...
1622826          66         15.0         17.0  female    28640  8600000US28640
1622827         791         25.0         29.0    male    98604  8600000US98604
1622828          55         55.0         59.0  female    29545  8600000US29545
1622829          10         25.0         29.0  female    45319  8600000US45319
1622830          65         35.0         39.0  female    71032  8600000US71032

[1622831 rows x 6 columns]